<!DOCTYPE html>
<html>
<head>
	<link href="/stylesheets/studentdesc.css" rel="stylesheet" type="text/css" media="screen">	
    <meta charset="utf-8"content="width=device-width, initial-scale=1.0">
	<title> Thesis Description</title>
</head>
<body>
	{% for student in student_all %}
	{% if student.key.id()==id  %}
    <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">{{student.student_number}}</h3>
  </div>
  <div class="panel-body">
    {{student.last_name}}, {{student.first_name}}   <br>
    {{student.contact_number}}<br>
    {{student.course}}<br>
    {{student.email}}<br>
 
  </div>
</div>
</div>
</div>
{% endif %}
{% endfor %}
<center>
<a href = "/student/new"> <button type="button" class="btn btn-primary">Register New</button></a>
<a href = "/student/list"><button type="button" class="btn btn-primary">Lists of Students</button></a>
</center>
</body>
</html>